.normal{
    font-family: "Playwrite AU SA", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.anniversary-card{
    background-image: url(../styles/images/cover.jpg);
    background-repeat: no-repeat;
    width: 1340px;
    height: 800px;
    margin: auto;
    border-radius: 32px;
}
.image{
    width: 400px;
    height: 400px;
    border-radius: 160px;
}
  